name: Auto Update DNS
on:
  schedule:
    - cron: '0 0 * * *' # Chạy lúc 7h sáng giờ VN hàng ngày
  workflow_dispatch: # Cho phép bấm chạy thủ công

jobs:
  update:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: pip install requests
      - name: Run script
        run: python build.py
      - name: Commit and push
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add dns_filter.txt
          git commit -m "Update list" || exit 0
          git push
